<%- include('header'); -%>
<body>
    <p> Your starting calorie count should be <%= bmr %> </p>



<section class = "calorie-counter">
<div class="container h-100 d-flex justify-content-center">
<form action="/calorie" method = "post">
    <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">Food and Calorie Count</span>
        </div>
        <input type="text" class="form-control" placeholder = "What'd ya eat?" name = "food">
        <input type="text" class="form-control" placeholder = "How many calories?" name = "calorie" value="">
        <button class = "btn btn-sm btn-dark calorie-submit" type = "submit">Submit!</button>
    </div>
</div>

</form>

<p>Your remaining calories are <%= updatedCalories %> </p>
</body>
</html>