<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    
    <title>BMR Calculator & Calorie Counter</title>
  </head>
  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-dark justify-content-center">
        <a class="navbar-brand" href="#" style ="color: #015871">BMR Calculator & Calorie Counter</a>
        <a href="/login"><button class = "btn btn-sm login-btn">Login</button></a>
        
    </nav> 



    <!-- Form Area -->
<h1><%= currentDay %></h1>