body {
    background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  overflow: hidden;
    margin: 0 auto;
    font-family: Helvetica Neue, Arial, sans-serif;
}

.form-group {
    padding: 10px;
    margin: 0 auto;
    
}

h1 {
    text-align: center;
    font-weight: bold;
    color: #015871
}

h2 {
    text-align: center;
}

p{
    text-align: center;
}

button {
    margin-top: 5px;
}

select {
margin: 5px;
}

.calorie-submit {
    margin-left: 10px;
    margin: 1px;
}


.box {
    max-width: 800px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }

.navbar-brand{
    color: #015871
    
}

.btn{
    background: #015871;
    border: solid white 1px
}

.btn:hover {
    background-color: #015871
}

/* waves */

.ocean { 
    height: 5%;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background: #015871;
    z-index: -1;
  }
  
  .wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  
  .wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }

