body {
    background-color: grey;
    margin: 0 auto;
}

.form-group {
    padding: 10px;
    margin: 0 auto;
    border: 5px solid black; 
    border-radius: 10%;
}



h2 {
    text-align: center;
}