body {
    background-color: grey;
    margin: 0 auto;
}

.form-group {
    padding: 10px;
    margin: 0 auto;
    
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p{
    text-align: center;
}

button {
    margin-top: 5px;
}

select {
margin: 5px;
}

.calorie-submit {
    margin-left: 10px;
    margin: 1px;
}